<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdos.android.sample.presentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sdos.android.sample.presentation.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.sdos.android.sample.presentation.view.activity.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sdos.android.sample.presentation.view.activity.LoginActivity"/>

        <activity android:name="com.sdos.android.sample.presentation.view.activity.MainActivity"/>

        <activity android:name="com.sdos.android.sample.presentation.view.activity.WebServiceActivity"/>


    </application>

</manifest>
